@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


:root{
--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);
--Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black: hsla(0, 0%, 0%, 0.564);
--Font: "Kumbh Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--Font);
    
}

.main-container{
    position: relative;
    width: 375px;
    margin: auto;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 25px;
}

.header__hamburguer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 165px;
}

.header__open{
    width: 17px;
}

.header__open:hover{
    cursor: pointer;
}

.header__nav{
    display: none;
}

.header__logo{
    width: 135px;
}

.header__carrito{
    position: relative;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__carrito-numero{
    position: absolute;
    display: none;
    background-color: var(--Orange);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: var(--White);
    text-align: center;
    font-size: .7em;
    top: -5px;
    left: 10px;
}

.header__cart:hover{
    cursor: pointer;
}

.header__avatar{
    width: 25px;
    cursor: pointer;
}


/* ---------------------HEADER BACKGROUND-------------------- */
.header__background{
    display: none;
    position: absolute;
    background-color: var(--Black);
    width: 375px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__background.active{
    display: block;
}

.header__modal{
    background-color: var(--White);
    padding: 24px;
    width: 250px;
    height: 100vh;
}

.header__close{
    margin-bottom: 55px;
    cursor: pointer;
}

.header__close.active{
    display: none;
}

.header__links-modal{
    list-style: none;
    color: var(--Very-dark-blue);
    font-weight: 700;
    margin-bottom: 30px;
    cursor: pointer;
}

/* ---------------------SECCION PRINCIPAL-------------------- */

.first__section-background{
    position: relative;
    padding: 20px;
    background-image: url(./images/image-product-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -37px;
    width: 100%;
    height: 300px;
    margin-bottom:15px;
}


.first__section__images{
    display: none;
}

.first__section-btn{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 335px;
    top: 140px;
}

.first__section-mas, .first__section-menos{
    width: 40px;
    height: 40px;
    background-color: var(--White);
    border-radius: 50%;
    padding: 13px;
    cursor: pointer;
}

/* ---------------------SEGUNDA SECCION-------------------- */
.second__section{
    padding: 24px;
}
.second_section-parrafo{
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 700;
    color: var(--Dark-grayish-blue);
    margin-bottom: 15px;
}

.second__section-title{
    font-size: 1.5em;
    margin-bottom: 15px;
}

.second__section-parrafo2{
    font-size: .9em;
    color: var(--Dark-grayish-blue);
    line-height: 20px;
    margin-bottom: 20px;
}

.second__section-precios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.second__section-descuento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 135px;
}

.second__section-parrafo{
    color: var(--Very-dark-blue);
    font-weight: 700;
    font-size: 1.3em;
}

.span{
    width: 45px;
    height: 24px;
    background-color: var(--Very-dark-blue);
    color: var(--White);
    text-align: center;
    font-size: .9em;
    border-radius: 5px;
    padding: 3px;
    font-weight: 700;
}

.second__section-p{
    text-decoration: line-through;
    font-size: .9em;
    font-weight: 700;
    color: var(--Dark-grayish-blue);
}

.second__section-agregar{
    display: block;
    
}

.second__section-contador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    width: 100%;
    height: 55px;
    background-color: var(--Light-grayish-blue);
    border-radius: 5px;
    margin-bottom: 20px;
}

.second__section-menos, .second__section-mas{
    cursor: pointer;
}

.second__section-contador2{
    color: var(--Very-dark-blue);
    font-weight: 700;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 325px;
    height: 50px;
    border: none;
    background-color: var(--Orange);
    border-radius: 8px;
    color: var(--Very-dark-blue);
    font-weight: 700;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(255, 166, 0, 0.721);
}

.btn img{
    width: 16px;
}

/* ---------------------MODAL CARRITO-------------------- */

.modal__carrito{
    display: none;
    position: absolute;
    width: 355px;
    background-color: var(--White);
    padding: 20px;
    padding-bottom: 35px;
    border-radius: 8px;
    left: 7px;
    top: 73px;
    box-shadow: 10px 10px 50px var(--Very-dark-blue);
}

.modal__carrito.active{
    display: block;
}

.modal__carrito-info{
    font-size: .9em;
    color: var(--Very-dark-blue);
    padding-bottom: 20px;
    border-bottom: 1px solid var(--Dark-grayish-blue);
    margin-bottom: 25px;
}

.info-empty{
    margin-top: 65px;
    text-align: center;
    color: var(--Dark-grayish-blue);
}

.modal__carrito-precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.modal__carrito-img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}


.modal__carrito-parrafo, .modal__carrito-parrafo2{
    font-size: .8em;
    color: var(--Dark-grayish-blue);
    font-weight: 400;
    line-height: 20px;
}

.span-modal{
    color: var(--Very-dark-blue);
    font-weight: 700;
}

.modal__carrito-delete{
    width: 12px;
    cursor: pointer;
}


.modal__imagenes{
    display: none;
}


.btn1{
    width: 325px;
    height: 50px;
    border: none;
    background-color: var(--Orange);
    border-radius: 8px;
    color: var(--Very-dark-blue);
    font-weight: 700;
    cursor: pointer;
}

.btn1:hover{
    background-color: rgba(255, 166, 0, 0.721);
}



.attribution {
    font-size: 11px; 
    text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/* ---------------------DESKTOP-------------------- */

@media(min-width:1115px){
    .main-container{
        width: 1115px;
    }

    .header__container{
        height: 110px;
        margin-bottom: 60px;
        border-bottom: 1px solid var(--Grayish-blue);
    }

  

    .header__links{
        display: flex;
        align-items: center;
        gap: 15px;
        height: 110px;
        color: var(--Dark-grayish-blue);
        justify-content: space-between;
        list-style: none;
        cursor: pointer;
        
    }

    .header__links:hover{
        border-bottom: 4px solid var(--Orange);
    }
    
    .header__hamburguer{
        width: 590px;
        height: 110px;
    }
    
    .header__open{
       display: none;
    }
    
    
    .header__nav{
        display: flex;
        gap: 25px;
    }
    
    .header__logo{
        width: 135px;
    }

    .header__carrito{
        width: 100px;
    }

    .header__carrito-numero{
        top: 0;
    }
    
    
    .header__avatar{
        width: 35px;
    }
    
    .header__avatar:hover{
        cursor: pointer;
        border: 3px solid var(--Orange);
        border-radius: 50%;
    }

/* ---------------------SECCION PRINCIPAL DESKTOP-------------------- */
.seccion__principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-left: 50px;
}

.first__section{
    width: 400px;
    padding: 25px;
   
}


.first__section-background{
    background-position-y: 0px;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    margin-bottom:15px;
    cursor: pointer;
}


.first__section__images{
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.first__section-tumbails{
    width: 75px;
    border-radius: 8px;
}

.first__section-tumbails:hover{
    border: 3px solid var(--Orange);
    cursor: pointer;
}

.first__section-btn{
    display: none;
   
}


/* ---------------------SEGUNDA SECCION-------------------- */
.second__section{
    width: 520px;
    padding: 50px;
}
.second_section-parrafo{
    font-size: .8em;
    margin-bottom: 10px;
}

.second__section-title{
    font-size: 2em;
    margin-bottom: 20px;
}

.second__section-parrafo2{
    font-size: .75em;
    line-height: 24px;
    
}

.second__section-precios{
    display: block;
    margin-bottom: 20px;
}

.second__section-descuento{
    display: flex;
    width: 145px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

}


.second__section-parrafo{
    font-size: 1.4em;
    margin-top: 15px;
    margin-bottom: 10px;
}


.second__section-agregar{
    display: flex;
    gap: 10px;

}

.second__section-contador{
    padding: 20px 15px;
    width: 160px;
    height: 50px;
}



.btn{
    display: block;
    width: 200px;

}


/* ---------------------MODAL CARRITO-------------------- */
.modal__carrito{
    top: 95px;
    left: 770px;
}

.btn1{
    width: 325px;
    height: 50px;
    border: none;
    background-color: var(--Orange);
    border-radius: 8px;
    color: var(--Very-dark-blue);
    font-weight: 700;
    cursor: pointer;
}

.btn1:hover{
    background-color: rgba(255, 166, 0, 0.721);
}

/* ---------------------MODAL IMAGENES-------------------- */

.modal__imagenes{
    display: flex;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Black);
    width: 100%;
    height: 100vh;
    top: 0;
}

.modal__imagenes-img{
    margin-left: 400px;
    width: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}


.modal__imagenes-background{
    background-image: url(./images/image-product-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 420px;
    height: 420px;
    border-radius: 10px;
    margin-bottom:25px;
    position: relative;
}

.modal__imagenes-flechas{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 460px;
    top: 200px;
    left: -19px;
}

.modal__imagenes-mas, .modal__imagenes-menos{
    background-color: var(--White);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
}

.modal__imagenes-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    gap: 10px;
}

.modal__imagenes-tumbails{
    display: flex;
    width: 80px;
    border-radius: 8px;
    cursor: pointer;
}

.modal__imagenes-tumbails:hover{
    border: 2px solid var(--Orange);
}


}




